#container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin: 0;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
}
#display {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: 50%;
    overflow: hidden;
}
#output {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.message {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    max-width: 60%;
    word-wrap: break-word;
}
.message p {
    padding: 5px;
    border-radius: 5px;
}
.received {
    justify-content: flex-start;
}
.received p {
    background-color: #d3d5ff;
}
.sent {
    align-self: flex-end;
}
.sent p {
    background-color: #c1c4ff
}
#inputContainer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
}
#messageInput {
    flex: 1;
    padding: 10px;
    border: none; /* Remove border */
    margin-right: 0;
    box-sizing: border-box;
    border: 1px solid #d3d5ff;
    border-radius: "5px 0 0 5px";
}
#messageInput:focus {
    outline: none; /* Remove focus outline */
}
#sendButton {
    padding: 10px;
    border: none;
    background-color: #d3d5ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
#sendButton:hover {
    background-color:#9599ff;
}
#bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}