@font-face {
    font-family: 'genty';
    src: url('/static/genty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'genty';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

#chat-container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#messages {
    flex: 3;
    padding: 10px;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}

#users {
    flex: 1;
    padding: 10px;
    border-left: 1px solid #ddd;
    background-color: #f9f9f9;
}

#message-form {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#messageText {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

.message {
    display: flex;
    margin: 5px 0;
}

.message.received {
    justify-content: flex-start;
}

.message.sent {
    justify-content: flex-end;
}

.message .content {
    max-width: 70%;
    padding: 10px;
    border-radius: 5px;
}

.message.received .content {
    background-color: #e1ffc7;
}

.message.sent .content {
    background-color: #dcf8c6;
}

#randomImage1,
#randomImage2,
#randomImage3,
#randomImage4,
#randomImage5,
#randomImage6,
#randomImage7,
#randomImage8,
#randomImage9,
#randomImage10,
#randomImage11,
#randomImage12 {

    position: absolute;
    display: none; /* Inicialmente ocultas */
    transition: opacity 0.5s ease;
}